// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('dark_embroidery.png') repeat center center;
}

.contact-card {

  padding: 5px;
  background: url('creampaper.png') repeat center center;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 60px;
    height: 60px;
  }
}